// Font
$mainFont: SegoeUi, Arial, sans-serif;
// $mainFont: "ObjectSans";

// Size
$mainFontColor: white;
$mainFontSize: 20px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$mdDesktopWidth: 1440px;
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$mainOrangeColor: #ff8800;
$mainGrayColor: #808183;
$mainGrayColorAlpha: rgba(128, 129, 131, 0.5);
